/* screen - conta */

.conta {
  background-color: var(--black);
  height: 1080px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.conta .overlap-group1 {
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.conta .overlap-group14 {
  align-items: flex-end;
  border-radius: 4px;
  display: flex;
  height: 70px;
  left: 391px;
  min-width: 736px;
  padding: 15.0px 10px;
  position: absolute;
  top: 66px;
}

.conta .digite-aqui-o-que-procura {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 2.5px;
  min-height: 29px;
  min-width: 231px;
  white-space: nowrap;
}

.conta .magnifying-glass {
  height: 39px;
  margin-left: 433px;
  object-fit: cover;
  width: 37px;
}

.conta .overlap-group15 {
  height: 209px;
  left: 19px;
  position: absolute;
  top: 32px;
  width: 327px;
}

.conta .imagem-1 {
  border-radius: 13px;
  cursor: pointer;
  height: 154px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 327px;
}

.conta .subtrao-4 {
  height: 54px;
  left: 37px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 239px;
}

.conta .subtrao-4-1 {
  height: 70px;
  left: 40px;
  object-fit: cover;
  position: absolute;
  top: 139px;
  width: 248px;
}

.conta .overlap-group-1 {
  height: 60px;
  left: 1649px;
  position: absolute;
  top: 65px;
  width: 68px;
}

.conta .subtrao-3 {
  height: 35px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 68px;
}

.conta .elipse-5 {
  background-color: var(--purple-pizzazz);
  border-radius: 21px;
  height: 42px;
  left: 13px;
  position: absolute;
  top: 0;
  width: 42px;
}

.conta .linha-5 {
  height: 71px;
  left: 1755px;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 1px;
}

.conta .addtocart {
  height: 60px;
  left: 1794px;
  object-fit: cover;
  position: absolute;
  top: 65px;
  width: 58px;
}

.conta .grupo-10 {
  display: flex;
  height: 27px;
  left: 1431px;
  position: absolute;
  top: 274px;
  width: 130px;
}

.conta .grupo-12 {
  display: flex;
  flex: 1;
  width: 132px;
}

.conta .recicle-aqui {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -5.5px;
  margin-right: -2px;
  margin-top: 3.5px;
  white-space: nowrap;
  width: 132px;
}

.conta .no-path-copia-4 {
  height: 78px;
  left: 547px;
  object-fit: cover;
  position: absolute;
  top: 188px;
  width: 78px;
}

.conta .vibradores {
  left: 531px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 271px;
  white-space: nowrap;
}

.conta .no-path-copia-6 {
  height: 73px;
  left: 404px;
  object-fit: cover;
  position: absolute;
  top: 193px;
  width: 73px;
}

.conta .fantasias {
  left: 391px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 270px;
  white-space: nowrap;
}

.conta .no-path-copia-8 {
  height: 83px;
  left: 707px;
  object-fit: cover;
  position: absolute;
  top: 185px;
  width: 83px;
}

.conta .acessrios {
  left: 688px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 273px;
  white-space: nowrap;
}

.conta .grupo-14 {
  background-image: url(../img/nopath---copia--11--10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 74px;
  left: 869px;
  position: absolute;
  top: 191px;
  width: 74px;
}

.conta .lingerie {
  left: 862px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 272px;
  white-space: nowrap;
}

.conta .no-path-copia-25 {
  height: 71px;
  left: 1058px;
  object-fit: cover;
  position: absolute;
  top: 199px;
  width: 71px;
}

.conta .masturbadores {
  left: 996px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 272px;
  white-space: nowrap;
}

.conta .no-path-copia-7 {
  height: 77px;
  left: 1252px;
  object-fit: cover;
  position: absolute;
  top: 191px;
  width: 77px;
}

.conta .grupo-15 {
  display: flex;
  height: 27px;
  left: 1211px;
  position: absolute;
  top: 269px;
  width: 178px;
}

.conta .sadomasoquista {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -5.5px;
  margin-right: -2px;
  margin-top: 3.5px;
  white-space: nowrap;
  width: 178px;
}

.conta .linha-10 {
  height: 108px;
  left: 504px;
  object-fit: cover;
  position: absolute;
  top: 191px;
  width: 1px;
}

.conta .linha-11 {
  height: 108px;
  left: 662px;
  object-fit: cover;
  position: absolute;
  top: 192px;
  width: 1px;
}

.conta .linha-12 {
  height: 108px;
  left: 826px;
  object-fit: cover;
  position: absolute;
  top: 193px;
  width: 1px;
}

.conta .linha-13 {
  height: 108px;
  left: 970px;
  object-fit: cover;
  position: absolute;
  top: 199px;
  width: 1px;
}

.conta .linha-14 {
  height: 108px;
  left: 1179px;
  object-fit: cover;
  position: absolute;
  top: 199px;
  width: 1px;
}

.conta .linha-15 {
  height: 108px;
  left: 1408px;
  object-fit: cover;
  position: absolute;
  top: 193px;
  width: 1px;
}

.conta .linha-16 {
  height: 71px;
  left: 1618px;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 1px;
}

.conta .linha-17 {
  height: 8px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1043px;
  width: 1920px;
}

.conta .caminho-8 {
  height: 1080px;
  left: 1901px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 19px;
}

.conta .retngulo-10 {
  background-color: var(--purple-pizzazz);
  height: 44px;
  left: 1901px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 19px;
}

.conta .recycling-9 {
  height: 69px;
  left: 1461px;
  object-fit: cover;
  position: absolute;
  top: 200px;
  width: 69px;
}

.conta .overlap-group17 {
  align-items: flex-start;
  background-image: url(../img/linha-30-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 3px;
  left: 179px;
  min-width: 1594px;
  padding: 0 1.5px;
  position: absolute;
  top: 429px;
}

.conta .linha-39 {
  height: 3px;
  object-fit: cover;
  width: 753px;
}

.conta .x1-dados-pessoais {
  left: 181px;
  letter-spacing: 0;
  line-height: 40px;
  opacity: 0.5;
  position: absolute;
  top: 368px;
  white-space: nowrap;
}

.conta .x2-detalhes-de-envio {
  left: 976px;
  letter-spacing: 0;
  line-height: 40px;
  opacity: 0.5;
  position: absolute;
  top: 354px;
  white-space: nowrap;
}

.conta .dados-pessoais {
  left: 183px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 474px;
  white-space: nowrap;
}

.conta .linha-41 {
  height: 5px;
  left: 181px;
  object-fit: cover;
  position: absolute;
  top: 540px;
  width: 1509px;
}

.conta .overlap-group16 {
  align-items: flex-end;
  background-color: var(--dove-gray-3);
  border-radius: 13px;
  display: flex;
  height: 74px;
  left: 179px;
  min-width: 256px;
  padding: 7.5px 45.5px;
  position: absolute;
  top: 904px;
}

.conta .cancelar {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 37px;
  min-height: 51px;
  min-width: 142px;
  white-space: nowrap;
}

.conta .overlap-group12 {
  border-radius: 13px;
  height: 74px;
  left: 452px;
  position: absolute;
  top: 902px;
  width: 256px;
}

.conta .retngulo-19 {
  background-color: var(--dove-gray-4);
  border-radius: 13px;
  cursor: pointer;
  height: 74px;
  left: 0;
  opacity: 0.47;
  position: absolute;
  top: 0;
  width: 256px;
}

.conta .prximo {
  left: 60px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}

.conta .grupo-76 {
  align-items: flex-end;
  display: flex;
  height: 276px;
  left: 180px;
  min-width: 1509px;
  position: absolute;
  top: 553px;
}

.conta .flex-col {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5px;
  min-height: 258px;
  width: 610px;
}

.conta .place {
  letter-spacing: 0;
  line-height: 15px;
  min-height: 22px;
  white-space: nowrap;
}

.conta .overlap-group11 {
  align-items: flex-end;
  display: flex;
  height: 54px;
  margin-top: 2px;
  min-width: 610px;
  padding: 8.5px 12px;
}

.conta .name {
  letter-spacing: 0;
  line-height: 20px;
  min-height: 29px;
  min-width: 205px;
  white-space: nowrap;
}

.conta .endereo {
  letter-spacing: 0;
  line-height: 15px;
  margin-top: 10px;
  min-height: 22px;
  white-space: nowrap;
}

.conta .overlap-group9 {
  align-items: flex-end;
  display: flex;
  height: 54px;
  margin-top: 2px;
  min-width: 610px;
  padding: 9.5px 12px;
}

.conta .rua-dos-bobos-00 {
  letter-spacing: 0;
  line-height: 20px;
  min-height: 29px;
  min-width: 165px;
  white-space: nowrap;
}

.conta .overlap-group5 {
  height: 76px;
  margin-top: 18px;
  position: relative;
  width: 610px;
}

.conta .e-mail {
  left: 0;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.conta .retngulo-45 {
  height: 54px;
  left: 0;
  position: absolute;
  top: 22px;
  width: 610px;
}

.conta .mariachiquinhagmailcom {
  left: 13px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 42px;
  white-space: nowrap;
}

.conta .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: -9.0px;
  margin-left: 42px;
  min-height: 280px;
  width: 418px;
}

.conta .data-de-nascimento {
  letter-spacing: 0;
  line-height: 15px;
  min-height: 22px;
  white-space: nowrap;
}

.conta .overlap-group {
  align-items: flex-end;
  display: flex;
  height: 54px;
  margin-top: 4px;
  min-width: 418px;
  padding: 11.5px 18px;
}

.conta .date {
  letter-spacing: 0;
  line-height: 20px;
  min-height: 29px;
  min-width: 104px;
  white-space: nowrap;
}

.conta .flex-row {
  align-items: flex-start;
  display: flex;
  height: 109px;
  margin-top: 12px;
  min-width: 418px;
}

.conta .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 109px;
  width: 192px;
}

.conta .cep {
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 1px;
  min-height: 22px;
  white-space: nowrap;
}

.conta .overlap-group7 {
  height: 82px;
  margin-top: 6px;
  position: relative;
  width: 192px;
}

.conta .overlap-group-2 {
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 192px;
}

.conta .retngulo-31 {
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 192px;
}

.conta .text-1 {
  left: 15px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 17px;
  white-space: nowrap;
}

.conta .telefone {
  left: 0;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 60px;
  white-space: nowrap;
}

.conta .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 34px;
  min-height: 100px;
  width: 192px;
}

.conta .place-1 {
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 0;
  min-height: 22px;
  white-space: nowrap;
}

.conta .overlap-group1-1 {
  height: 73px;
  margin-top: 6px;
  position: relative;
  width: 192px;
}

.conta .so-paulo {
  left: 15px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 17px;
  white-space: nowrap;
}

.conta .overlap-group3 {
  height: 75px;
  margin-top: 4px;
  position: relative;
  width: 417px;
}

.conta .retngulo-31-1 {
  height: 54px;
  left: 0;
  position: absolute;
  top: 0;
  width: 417px;
}

.conta .phone {
  left: 13px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.conta .flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: -9.0px;
  margin-left: 21px;
  min-height: 282px;
  width: 418px;
}

.conta .cpf {
  letter-spacing: 0;
  line-height: 15px;
  min-height: 22px;
  white-space: nowrap;
}

.conta .phone-1 {
  letter-spacing: 0;
  line-height: 20px;
  min-height: 29px;
  min-width: 137px;
  white-space: nowrap;
}

.conta .completo {
  letter-spacing: 0;
  line-height: 15px;
  margin-top: 16px;
  min-height: 22px;
  white-space: nowrap;
}

.conta .overlap-group6 {
  height: 84px;
  margin-top: 4px;
  position: relative;
  width: 417px;
}

.conta .overlap-group2 {
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 417px;
}

.conta .apto-555-bloco-b {
  left: 15px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 17px;
  white-space: nowrap;
}

.conta .celular {
  left: 1px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 62px;
  white-space: nowrap;
}

.conta .overlap-group4 {
  height: 75px;
  margin-left: 1px;
  margin-top: 4px;
  position: relative;
  width: 417px;
}

.conta .caminho-5 {
  height: 1px;
  left: 1920px;
  object-fit: cover;
  position: absolute;
  top: 199px;
  width: 1px;
}
