/* screen - lingerie-1 */

.lingerie-1 {
  background-color: var(--black);
  height: 1080px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.lingerie-1 .overlap-group {
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.lingerie-1 .overlap-group4 {
  align-items: flex-end;
  border-radius: 4px;
  display: flex;
  height: 70px;
  left: 391px;
  min-width: 736px;
  padding: 15.0px 10px;
  position: absolute;
  top: 66px;
}

.lingerie-1 .digite-aqui-o-que-procura {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 2.5px;
  min-height: 29px;
  min-width: 231px;
  white-space: nowrap;
}

.lingerie-1 .magnifying-glass {
  height: 39px;
  margin-left: 433px;
  object-fit: cover;
  width: 37px;
}

.lingerie-1 .overlap-group9 {
  height: 209px;
  left: 19px;
  position: absolute;
  top: 32px;
  width: 327px;
}

.lingerie-1 .imagem-1 {
  border-radius: 13px;
  cursor: pointer;
  height: 154px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 327px;
}

.lingerie-1 .subtrao-4 {
  height: 54px;
  left: 37px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 239px;
}

.lingerie-1 .subtrao-4-1 {
  height: 70px;
  left: 40px;
  object-fit: cover;
  position: absolute;
  top: 139px;
  width: 248px;
}

.lingerie-1 .grupo-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 60px;
  left: 1649px;
  min-width: 68px;
  position: absolute;
  top: 65px;
}

.lingerie-1 .overlap-group-1 {
  height: 60px;
  position: relative;
  width: 68px;
}

.lingerie-1 .subtrao-3 {
  height: 35px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 68px;
}

.lingerie-1 .elipse-5 {
  background-color: var(--purple-pizzazz);
  border-radius: 21px;
  height: 42px;
  left: 13px;
  position: absolute;
  top: 0;
  width: 42px;
}

.lingerie-1 .linha-5 {
  height: 71px;
  left: 1755px;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 1px;
}

.lingerie-1 .addtocart {
  height: 60px;
  left: 1794px;
  object-fit: cover;
  position: absolute;
  top: 65px;
  width: 58px;
}

.lingerie-1 .grupo-10 {
  display: flex;
  height: 27px;
  left: 1431px;
  position: absolute;
  top: 274px;
  width: 130px;
}

.lingerie-1 .grupo-12 {
  display: flex;
  flex: 1;
  width: 132px;
}

.lingerie-1 .recicle-aqui {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -5.5px;
  margin-right: -2px;
  margin-top: 3.5px;
  white-space: nowrap;
  width: 132px;
}

.lingerie-1 .no-path-copia-4 {
  height: 78px;
  left: 547px;
  object-fit: cover;
  position: absolute;
  top: 188px;
  width: 78px;
}

.lingerie-1 .vibradores {
  left: 531px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 271px;
  white-space: nowrap;
}

.lingerie-1 .no-path-copia-6 {
  height: 73px;
  left: 404px;
  object-fit: cover;
  position: absolute;
  top: 193px;
  width: 73px;
}

.lingerie-1 .fantasias {
  left: 391px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 270px;
  white-space: nowrap;
}

.lingerie-1 .no-path-copia-8 {
  height: 83px;
  left: 707px;
  object-fit: cover;
  position: absolute;
  top: 185px;
  width: 83px;
}

.lingerie-1 .acessrios {
  left: 688px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 273px;
  white-space: nowrap;
}

.lingerie-1 .grupo-14 {
  background-image: url(../img/nopath---copia--11--10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 74px;
  left: 869px;
  position: absolute;
  top: 191px;
  width: 74px;
}

.lingerie-1 .lingerie {
  left: 862px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 272px;
  white-space: nowrap;
}

.lingerie-1 .no-path-copia-25 {
  height: 71px;
  left: 1058px;
  object-fit: cover;
  position: absolute;
  top: 199px;
  width: 71px;
}

.lingerie-1 .masturbadores {
  left: 996px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 272px;
  white-space: nowrap;
}

.lingerie-1 .no-path-copia-7 {
  height: 77px;
  left: 1252px;
  object-fit: cover;
  position: absolute;
  top: 191px;
  width: 77px;
}

.lingerie-1 .grupo-15 {
  display: flex;
  height: 27px;
  left: 1211px;
  position: absolute;
  top: 269px;
  width: 178px;
}

.lingerie-1 .sadomasoquista {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -5.5px;
  margin-right: -2px;
  margin-top: 3.5px;
  white-space: nowrap;
  width: 178px;
}

.lingerie-1 .linha-10 {
  height: 108px;
  left: 504px;
  object-fit: cover;
  position: absolute;
  top: 191px;
  width: 1px;
}

.lingerie-1 .linha-11 {
  height: 108px;
  left: 662px;
  object-fit: cover;
  position: absolute;
  top: 192px;
  width: 1px;
}

.lingerie-1 .linha-12 {
  height: 108px;
  left: 826px;
  object-fit: cover;
  position: absolute;
  top: 193px;
  width: 1px;
}

.lingerie-1 .linha-13 {
  height: 108px;
  left: 970px;
  object-fit: cover;
  position: absolute;
  top: 199px;
  width: 1px;
}

.lingerie-1 .linha-14 {
  height: 108px;
  left: 1179px;
  object-fit: cover;
  position: absolute;
  top: 199px;
  width: 1px;
}

.lingerie-1 .linha-15 {
  height: 108px;
  left: 1408px;
  object-fit: cover;
  position: absolute;
  top: 193px;
  width: 1px;
}

.lingerie-1 .linha-16 {
  height: 71px;
  left: 1618px;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 1px;
}

.lingerie-1 .linha-17 {
  height: 8px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1043px;
  width: 1920px;
}

.lingerie-1 .caminho-8 {
  height: 1080px;
  left: 1901px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 19px;
}

.lingerie-1 .retngulo-10 {
  background-color: var(--purple-pizzazz);
  height: 44px;
  left: 1901px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 19px;
}

.lingerie-1 .recycling-9 {
  height: 69px;
  left: 1461px;
  object-fit: cover;
  position: absolute;
  top: 200px;
  width: 69px;
}

.lingerie-1 .overlap-group1 {
  height: 569px;
  left: 157px;
  position: absolute;
  top: 365px;
  width: 531px;
}

.lingerie-1 .captura-de-tela-2022-05-23-113145 {
  border-radius: 117px;
  height: 234px;
  left: 149px;
  object-fit: cover;
  position: absolute;
  top: 97px;
  width: 234px;
}

.lingerie-1 .retngulo-4 {
  height: 569px;
  left: 0;
  position: absolute;
  top: 0;
  width: 531px;
}

.lingerie-1 .renda-pretinhar-12000 {
  left: 74px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 400px;
  white-space: nowrap;
}

.lingerie-1 .grupo-56 {
  display: flex;
  height: 164px;
  left: 727px;
  position: absolute;
  top: 364px;
  width: 185px;
}

.lingerie-1 .captura-de-tela-2022-05-23-113 {
  border-radius: 66.03px/62.87px;
  flex: 1;
  margin-bottom: 19.5px;
  margin-left: 24.1px;
  margin-right: 26.7px;
  margin-top: 16.5px;
  object-fit: cover;
  width: 134.24px;
}

.lingerie-1 .grupo-56-1 {
  display: flex;
  height: 164px;
  left: 727px;
  position: absolute;
  top: 563px;
  width: 185px;
}

.lingerie-1 .grupo-56-2 {
  display: flex;
  height: 164px;
  left: 727px;
  position: absolute;
  top: 762px;
  width: 185px;
}

.lingerie-1 .overlap-group3 {
  height: 104px;
  left: 1091px;
  position: absolute;
  top: 366px;
  width: 402px;
}

.lingerie-1 .icon-star {
  height: 39px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 66px;
  width: 42px;
}

.lingerie-1 .icon-star-1 {
  height: 39px;
  left: 52px;
  object-fit: cover;
  position: absolute;
  top: 66px;
  width: 42px;
}

.lingerie-1 .repetio-de-grade-2 {
  align-items: flex-start;
  display: flex;
  height: 39px;
  left: 95px;
  min-width: 130px;
  position: absolute;
  top: 66px;
}

.lingerie-1 .repetio-de-grade-2-item {
  background-image: url(../img/android-star-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 39px;
  width: 42px;
}

.lingerie-1 .renda-pretinha {
  left: 0;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.lingerie-1 .address {
  left: 1351px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 446px;
  white-space: nowrap;
}

.lingerie-1 .linha-23 {
  height: 1px;
  left: 1100px;
  object-fit: cover;
  position: absolute;
  top: 618px;
  width: 581px;
}

.lingerie-1 .price {
  left: 1100px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 648px;
  white-space: nowrap;
}

.lingerie-1 .overlap-group8 {
  align-items: flex-end;
  background-color: var(--dove-gray-3);
  border-radius: 13px;
  display: flex;
  height: 74px;
  justify-content: flex-end;
  left: 1255px;
  min-width: 256px;
  padding: 5.5px 40.5px;
  position: absolute;
  top: 706px;
}

.lingerie-1 .comprar {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 37px;
  min-height: 51px;
  min-width: 174px;
  white-space: nowrap;
}

.lingerie-1 .linha-25 {
  height: 1px;
  left: 1096px;
  object-fit: cover;
  position: absolute;
  top: 934px;
  width: 160px;
}

.lingerie-1 .antes-que-perceba-vo {
  left: 1100px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 507px;
  white-space: nowrap;
}

.lingerie-1 .overlap-group5 {
  height: 73px;
  left: 1100px;
  position: absolute;
  top: 707px;
  width: 128px;
}

.lingerie-1 .number {
  left: 52px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.lingerie-1 .retngulo-15 {
  height: 73px;
  left: 0;
  position: absolute;
  top: 0;
  width: 128px;
}

.lingerie-1 .linha-26 {
  height: 1px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 15px;
}

.lingerie-1 .linha-27 {
  height: 1px;
  left: 94px;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 15px;
}

.lingerie-1 .linha-28 {
  height: 19px;
  left: 100px;
  object-fit: cover;
  position: absolute;
  top: 31px;
  width: 1px;
}

.lingerie-1 .overlap-group7 {
  align-items: flex-end;
  display: flex;
  height: 54px;
  left: 1094px;
  min-width: 304px;
  padding: 7.5px 21.0px;
  position: absolute;
  top: 853px;
}

.lingerie-1 .digite-aqui-seu-cep {
  letter-spacing: 0;
  line-height: 20px;
  min-height: 29px;
  min-width: 193px;
  white-space: nowrap;
}

.lingerie-1 .consulte-o-prazo-de-entrega {
  left: 1095px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 814px;
  white-space: nowrap;
}

.lingerie-1 .overlap-group2 {
  align-items: flex-end;
  background-color: var(--dove-gray-3);
  border-radius: 13px;
  display: flex;
  height: 57px;
  justify-content: flex-end;
  left: 1410px;
  min-width: 73px;
  padding: 8.0px 19.5px;
  position: absolute;
  top: 850px;
}

.lingerie-1 .ok {
  letter-spacing: 0;
  line-height: 20px;
  min-height: 29px;
  min-width: 29px;
  white-space: nowrap;
}

.lingerie-1 .caminho-5 {
  height: 1px;
  left: 1920px;
  object-fit: cover;
  position: absolute;
  top: 199px;
  width: 1px;
}
