/* screen - recicle-aqui */

.recicle-aqui {
  background-color: var(--black);
  height: 1080px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.recicle-aqui .overlap-group {
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.recicle-aqui .overlap-group8 {
  align-items: flex-end;
  border-radius: 4px;
  display: flex;
  height: 70px;
  left: 391px;
  min-width: 736px;
  padding: 15.0px 10px;
  position: absolute;
  top: 66px;
}

.recicle-aqui .digite-aqui-o-que-procura {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 2.5px;
  min-height: 29px;
  min-width: 231px;
  white-space: nowrap;
}

.recicle-aqui .magnifying-glass {
  height: 39px;
  margin-left: 433px;
  object-fit: cover;
  width: 37px;
}

.recicle-aqui .overlap-group1 {
  height: 209px;
  left: 19px;
  position: absolute;
  top: 32px;
  width: 327px;
}

.recicle-aqui .imagem-1 {
  border-radius: 13px;
  cursor: pointer;
  height: 154px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 327px;
}

.recicle-aqui .subtrao-4 {
  height: 54px;
  left: 37px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 239px;
}

.recicle-aqui .subtrao-4-1 {
  height: 70px;
  left: 40px;
  object-fit: cover;
  position: absolute;
  top: 139px;
  width: 248px;
}

.recicle-aqui .overlap-group-1 {
  height: 60px;
  left: 1649px;
  position: absolute;
  top: 65px;
  width: 68px;
}

.recicle-aqui .subtrao-3 {
  height: 35px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 68px;
}

.recicle-aqui .elipse-5 {
  background-color: var(--purple-pizzazz);
  border-radius: 21px;
  height: 42px;
  left: 13px;
  position: absolute;
  top: 0;
  width: 42px;
}

.recicle-aqui .linha-5 {
  height: 71px;
  left: 1755px;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 1px;
}

.recicle-aqui .addtocart {
  height: 60px;
  left: 1794px;
  object-fit: cover;
  position: absolute;
  top: 65px;
  width: 58px;
}

.recicle-aqui .grupo-10 {
  display: flex;
  height: 27px;
  left: 1431px;
  position: absolute;
  top: 274px;
  width: 130px;
}

.recicle-aqui .grupo-12 {
  display: flex;
  flex: 1;
  width: 132px;
}

.recicle-aqui .recicle-aqui-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -5.5px;
  margin-right: -2px;
  margin-top: 3.5px;
  white-space: nowrap;
  width: 132px;
}

.recicle-aqui .no-path-copia-4 {
  height: 78px;
  left: 547px;
  object-fit: cover;
  position: absolute;
  top: 188px;
  width: 78px;
}

.recicle-aqui .vibradores {
  left: 531px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 271px;
  white-space: nowrap;
}

.recicle-aqui .no-path-copia-6 {
  height: 73px;
  left: 404px;
  object-fit: cover;
  position: absolute;
  top: 193px;
  width: 73px;
}

.recicle-aqui .fantasias {
  left: 391px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 270px;
  white-space: nowrap;
}

.recicle-aqui .no-path-copia-8 {
  height: 83px;
  left: 707px;
  object-fit: cover;
  position: absolute;
  top: 185px;
  width: 83px;
}

.recicle-aqui .acessrios {
  left: 688px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 273px;
  white-space: nowrap;
}

.recicle-aqui .grupo-14 {
  background-image: url(../img/nopath---copia--11--10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 74px;
  left: 869px;
  position: absolute;
  top: 191px;
  width: 74px;
}

.recicle-aqui .lingerie {
  left: 862px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 272px;
  white-space: nowrap;
}

.recicle-aqui .no-path-copia-25 {
  height: 71px;
  left: 1058px;
  object-fit: cover;
  position: absolute;
  top: 199px;
  width: 71px;
}

.recicle-aqui .masturbadores {
  left: 996px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 272px;
  white-space: nowrap;
}

.recicle-aqui .no-path-copia-7 {
  height: 77px;
  left: 1252px;
  object-fit: cover;
  position: absolute;
  top: 191px;
  width: 77px;
}

.recicle-aqui .grupo-15 {
  display: flex;
  height: 27px;
  left: 1211px;
  position: absolute;
  top: 269px;
  width: 178px;
}

.recicle-aqui .sadomasoquista {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -5.5px;
  margin-right: -2px;
  margin-top: 3.5px;
  white-space: nowrap;
  width: 178px;
}

.recicle-aqui .linha-10 {
  height: 108px;
  left: 504px;
  object-fit: cover;
  position: absolute;
  top: 191px;
  width: 1px;
}

.recicle-aqui .linha-11 {
  height: 108px;
  left: 662px;
  object-fit: cover;
  position: absolute;
  top: 192px;
  width: 1px;
}

.recicle-aqui .linha-12 {
  height: 108px;
  left: 826px;
  object-fit: cover;
  position: absolute;
  top: 193px;
  width: 1px;
}

.recicle-aqui .linha-13 {
  height: 108px;
  left: 970px;
  object-fit: cover;
  position: absolute;
  top: 199px;
  width: 1px;
}

.recicle-aqui .linha-14 {
  height: 108px;
  left: 1179px;
  object-fit: cover;
  position: absolute;
  top: 199px;
  width: 1px;
}

.recicle-aqui .linha-15 {
  height: 108px;
  left: 1408px;
  object-fit: cover;
  position: absolute;
  top: 193px;
  width: 1px;
}

.recicle-aqui .linha-16 {
  height: 71px;
  left: 1618px;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 1px;
}

.recicle-aqui .linha-17 {
  height: 8px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1043px;
  width: 1920px;
}

.recicle-aqui .caminho-8 {
  height: 1080px;
  left: 1901px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 19px;
}

.recicle-aqui .retngulo-10 {
  background-color: var(--purple-pizzazz);
  height: 44px;
  left: 1901px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 19px;
}

.recicle-aqui .recycling-9 {
  height: 69px;
  left: 1461px;
  object-fit: cover;
  position: absolute;
  top: 200px;
  width: 69px;
}

.recicle-aqui .overlap-group5 {
  align-items: flex-start;
  background-image: url(../img/linha-30-10@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 3px;
  left: 179px;
  min-width: 1594px;
  padding: 0 1.5px;
  position: absolute;
  top: 429px;
}

.recicle-aqui .linha-39 {
  height: 3px;
  object-fit: cover;
  width: 753px;
}

.recicle-aqui .x1-inserir-produto-pra-reciclagem {
  left: 181px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 368px;
  white-space: nowrap;
}

.recicle-aqui .x2-detalhes-de-envio {
  left: 976px;
  letter-spacing: 0;
  line-height: 40px;
  opacity: 0.5;
  position: absolute;
  top: 354px;
  white-space: nowrap;
}

.recicle-aqui .inserir-produto-pra-reciclagem {
  left: 183px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 474px;
  white-space: nowrap;
}

.recicle-aqui .linha-41 {
  height: 1px;
  left: 181px;
  object-fit: cover;
  position: absolute;
  top: 544px;
  width: 610px;
}

.recicle-aqui .overlap-group2 {
  height: 54px;
  left: 600px;
  position: absolute;
  top: 629px;
  width: 427px;
}

.recicle-aqui .retngulo-41 {
  background-color: var(--dove-gray-4);
  height: 54px;
  left: 252px;
  opacity: 0.47;
  position: absolute;
  top: 0;
  width: 174px;
}

.recicle-aqui .uploud {
  left: 286px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.recicle-aqui .grupo-72 {
  align-items: flex-end;
  display: flex;
  height: 54px;
  left: 0;
  min-width: 427px;
  padding: 9.5px 17px;
  position: absolute;
  top: 0;
}

.recicle-aqui .fotodovibradopng {
  letter-spacing: 0;
  line-height: 20px;
  min-height: 29px;
  min-width: 168px;
  white-space: nowrap;
}

.recicle-aqui .overlap-group7 {
  align-items: flex-end;
  background-color: var(--dove-gray-3);
  border-radius: 13px;
  display: flex;
  height: 74px;
  left: 172px;
  min-width: 256px;
  padding: 7.5px 45.5px;
  position: absolute;
  top: 896px;
}

.recicle-aqui .cancelar {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 37px;
  min-height: 51px;
  min-width: 142px;
  white-space: nowrap;
}

.recicle-aqui .overlap-group6 {
  border-radius: 13px;
  height: 74px;
  left: 445px;
  position: absolute;
  top: 894px;
  width: 256px;
}

.recicle-aqui .retngulo-43 {
  background-color: var(--dove-gray-4);
  border-radius: 13px;
  cursor: pointer;
  height: 74px;
  left: 0;
  opacity: 0.47;
  position: absolute;
  top: 0;
  width: 256px;
}

.recicle-aqui .prximo {
  left: 60px;
  letter-spacing: 0;
  line-height: 37px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}

.recicle-aqui .overlap-group9 {
  align-items: flex-end;
  display: flex;
  height: 54px;
  left: 173px;
  min-width: 407px;
  padding: 9.5px 7px;
  position: absolute;
  top: 629px;
}

.recicle-aqui .name {
  letter-spacing: 0;
  line-height: 20px;
  min-height: 29px;
  min-width: 205px;
  white-space: nowrap;
}

.recicle-aqui .overlap-group3 {
  height: 168px;
  left: 173px;
  position: absolute;
  top: 716px;
  width: 854px;
}

.recicle-aqui .retngulo-24 {
  height: 163px;
  left: 0;
  position: absolute;
  top: 0;
  width: 854px;
}

.recicle-aqui .ol-tudo-bemsolic {
  left: 13px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 30px;
  white-space: nowrap;
}

.recicle-aqui .produto {
  left: 173px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 606px;
  white-space: nowrap;
}

.recicle-aqui .incidente {
  left: 173px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 692px;
  white-space: nowrap;
}

.recicle-aqui .caminho-5 {
  height: 1px;
  left: 1920px;
  object-fit: cover;
  position: absolute;
  top: 199px;
  width: 1px;
}
